<title><%- title %></title>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }) %>
    </ul>
<% }%>

<p>You're logged in</p>