/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.siteName a {
  text-decoration: none;
  color: #000;
  font-size: 40px;
}

#tools a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

nav {
  background-color: #013648;
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  color: white;
}

nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

.hero {
  width: 100%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  display: block;
}

.herolabel {
  position: absolute;
  top: 20%;
  left: 10%;
  background: #ffffff80;
  color: #000547;
  border: 1px solid rgba(0, 0, 0, .75);
  padding: 1.5rem;
  box-shadow: 0 0 3rem #fff;
  text-align: center;
  max-width: 400px;
}

.herolabel h2 {
  font-size: 30px;
}

.herolabel p {
  margin: 0;
  padding: .25rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.herolabel button {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 1200px) {
  .herolabel {
    top: 20%;
    left: 5%;
    padding: 0.5rem;
    font-size: 1rem;
    max-width: 400px;
  }

  .herolabel h2 {
    font-size: 25px;
  }

  .herolabel p {
    font-size: 20px;
  }

  .herolabel button {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  .herolabel {
    top: 10%;
    left: 5%;
    padding: 0.5rem;
    max-width: 300px;
  }

  .herolabel h2 {
    font-size: 20px;
  }

  .herolabel p {
    font-size: 15px;
  }

  .herolabel button {
    font-size: 13px;
  }
}

.reviews-upgrades {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 2rem;
}

.upgrades {
  padding: 20px;
}

.upgrades h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.upgrades-items {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.upgrades-items img {
  width: 30%;
  height: auto;
  margin-bottom: 0.5rem;
}

.upgrades-items a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.5rem;
  color: #0400ff;
}

.reviews {
  padding: 1rem;
}

.reviews h3 {
  font-size: 30px;
}

.reviews ul {
  padding-left: 1rem;
}

.reviews li {
  font-size: 25px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .reviews-upgrades {
    grid-template-columns: 1fr;
  }
}