/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.top-nav {
  font-family: 'Roboto', sans-serif;
}

.siteName, #tools {
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

.herolabel {
  font-family: 'Roboto', sans-serif;
}

.herolabel button {
  font-family: 'Roboto', sans-serif;
}

.reviews-upgrades {
  font-family: 'Roboto', sans-serif;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.siteName a {
  text-decoration: none;
  color: #000;
  font-size: 40px;
}

#tools a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

nav {
  background-color: #013648;
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 0;
  text-decoration: none;
}

nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

nav a {
  color: #81b1ce;
}

nav a:hover {
  color: #aad6ec;
}

/** Home Page **/

.hero {
  width: 100%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  display: block;
}

.herolabel {
  position: absolute;
  top: 20%;
  left: 10%;
  background: #ffffff80;
  color: #000547;
  border: 1px solid rgba(0, 0, 0, .75);
  padding: 1.5rem;
  box-shadow: 0 0 3rem #fff;
  text-align: center;
  max-width: 400px;
}

.herolabel h2 {
  font-size: 30px;
}

.herolabel p {
  margin: 0;
  padding: .25rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.herolabel button {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 1200px) {
  .herolabel {
    top: 20%;
    left: 5%;
    padding: 0.5rem;
    font-size: 1rem;
    max-width: 400px;
  }

  .herolabel h2 {
    font-size: 25px;
  }

  .herolabel p {
    font-size: 20px;
  }

  .herolabel button {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  .herolabel {
    top: 10%;
    left: 5%;
    padding: 0.5rem;
    max-width: 300px;
  }

  .herolabel h2 {
    font-size: 20px;
  }

  .herolabel p {
    font-size: 15px;
  }

  .herolabel button {
    font-size: 13px;
  }
}

.reviews-upgrades {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 2rem;
}

.upgrades {
  padding: 20px;
}

.upgrades h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.upgrades-items {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.upgrades-items img {
  width: 30%;
  height: auto;
  margin-bottom: 0.5rem;
}

.upgrades-items a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.5rem;
  color: #0400ff;
}

.reviews {
  padding: 1rem;
}

.reviews h3 {
  font-size: 30px;
}

.reviews ul {
  padding-left: 1rem;
}

.reviews li {
  font-size: 25px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .reviews-upgrades {
    grid-template-columns: 1fr;
  }
}

/** error.ejs **/

.error-title {
  font-family: Arial, sans-serif;
  font-size: 40px;
  text-align: center;
}

.error-view {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
} 

/** Classification **/

#inv-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

#inv-display hr {
  border: none;
}

.inv-preview {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.inv-preview img {
  width: 300px;
  height: auto;
}

@media (max-width: 1000px) {
  #inv-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 720px) {
  #inv-display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    text-align: center;
    justify-content: center;
  }
}

/** Inventory **/

.vehicle-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.vehicle-detail-section {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #304146;
}

.vehicle-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 15px;
}

.vehicle-img {
  max-width: 400px;
  width: 100%;
}

.vehicle-info {
  flex: 2 1 500px;
  display: flex;
  flex-direction: column;
}

.vehicle-info h2 {
  font-size: 30px;
  color: black;
}

.vehicle-info p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0;
}

.vehicle-info p strong {
  color: black;
}

@media (max-width: 720px) {
  .vehicle-detail {
    flex-direction: column;
    align-items: center;
  }

  .vehicle-img {
    max-width: 100%;
    width: 100%;
  }

  .vehicle-info {
    width: 100%;
  }
}

/* Login & Register */

.login, .register {
  height: 100%;
  width: 100%;
  padding: 100px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.login label, .register label {
  display: block;
  font-weight: bold;
  color: #333;
}

.login input, .register input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
}

.login button, .register button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background-color: #4681f4;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.login button:hover, .register button:hover {
  background-color: #6c9dff;
}

.login p {
  font-family: Arial, sans-serif;
  text-align: center;
}

#showPw {
  cursor: pointer;
  color: blue;
  padding: 5px;
}

.notice {
  font-family: Arial, sans-serif;
  list-style-type: none;
  text-align: center;
}

.login-message {
  font-family: Arial, sans-serif;
  list-style-type: none;
  text-align: center;
}

.register-message {
  font-family: Arial, sans-serif;
  list-style-type: none;
  text-align: center;
}

/* addInventory, addClassification, & manageInventory */

.manageInventory h1 {
  font-family: 'Oswald', sans-serif;
  padding: 10px;
}

.manageInventory ul {
  font-family: Arial, sans-serif;
}

.addClassification, .addInventory, .edit-inventory-form {
  height: 100%;
  width: 100%;
  padding: 100px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.addClassification input, 
.addInventory input, 
.addInventory textarea, 
#classificationList, 
.edit-inventory-form input, 
.edit-inventory-form textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
}

.addClassification button, .addInventory button, .edit-inventory-form button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background-color: #1056e2;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.manageInventory {
  font-family: Arial, sans-serif;
}

.manageInventory h1 {
  font-size: 40px;
  text-align: center;
}

.manageInventory ul {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.manageInventory li {
  font-size: 18px;
  padding: 10px;
}

#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
}

#inventoryDisplay thead {
  background-color: #051b47;
  color: white;
}

#inventoryDisplay th,
#inventoryDisplay td {
  border: 1px solid #ddd;
  padding: 10px;
}