<div class="addClassification">
    <h1>Add Classification to Inventory</h1>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
            <% }) %>
        </ul>
    <% }%>

    <form class="addClassificationForm" action="/inv/add-classification" method="post">
        <label for="classification_name">Classification Name: </label>
        <input type="text" id="classification_name" name="classification_name" required pattern="^[a-zA-Z0-9]+$">
        <span>This new classification name cannot contain a space or special character of any kind</span>

        <button type="submit">Add Classification</button>
    </form>
</div>