<h1>
    <%= title %>
</h1>

<div class="humor">
    <p>Whelp, sorry you had to find out the hard way...</p>
    <p>You shouldn't even be here, so turn back...</p>
    <p><a href="/">Return Home Safely</a></p>
</div>