<h1 class="error-title"><%= title %></h1>

<div class="error-view">
    <p>Whelp, sorry that you got brought here...</p>
    <p>Something went wrong while transporting you...</p>
    <p><a href="/">Return Home Safely</a></p>
</div>